:root{
    --colorPrimario: #df3b1a;
    --colorSecundario: #3a4e2d;
    --colorTerceario: #1A1818;
    --colorParrafo: #333333;
    --colorTitulo: #302D2D;
    --colorSombras: #5E5959;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.titulo-1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 500;
}

.titulo-1 {
    color: var(--colorTitulo);
    
}

.parrafo {
    font-family: 'Poppins';
    font-size: 1.2em;
    text-align: justify;
    line-height: 2;

}

.parrafo-2 {
    font-family: 'Poppins';
    font-size: 3em;
    text-align: center;
    line-height: 1;
    font-weight: 600;

}

.parrafo-2{
    color: var(--colorPrimario);
}

.patrie{
    font-family: 'Poppins';
    font-size: 3em;
    text-align: center;
    line-height: 1;
    font-weight: 600;
}

.patrie{
    color: var(--colorSecundario);
}

/* Estilo del Botón */
.boton-2 {
  display: inline-block;
  background-color: #ff8c00;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.boton-2:hover {
  background-color: #d87700;
  color: #ffffff;
}

.cuadro{
    background-color: #ffffff;
    border: 1px solid #1A1818 ;
    border-radius: 10px;
    padding: 1.2em;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}